Source: urbi
Section: unknown
Priority: optional
Maintainer: Michal Koutný <xm.koutny@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
  cmake, cmake-data,
  dpkg-dev,
  libboost-dev, libboost-filesystem-dev, libboost-regex-dev, libboost-signals-dev, libboost-thread-dev,
  libjpeg-turbo8-dev,
  liblocale-gettext-perl,
  libortp-dev,
  locales
Standards-Version: 3.9.4
Homepage: https://github.com/aldebaran/urbi
#Vcs-Git: git://git.debian.org/collab-maint/urbi.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/urbi.git;a=summary

Package: libport
Architecture: any
Depends: ${shlibs:Depends}
Description: Support library for Urbi SDK

Package: libport-dev
Architecture: any
Depends: libport
Description: Development files for libport library.

Package: urbi
Architecture: any
Depends: libport, ${shlibs:Depends}
Description: SDK for robotics

Package: urbi-dev
Architecture: all
Depends: urbi, libport-dev
Description: Development files for Urbi SDK
