#!/usr/bin/make -f
# -*- makefile -*-


MK_FILE := $(abspath $(lastword $(MAKEFILE_LIST)))
MK_DIR := $(patsubst %/,%,$(dir $(MK_FILE)))

LIBPORT_SRC_DIR=$(MK_DIR)/../libport
LIBPORT_BUILD_DIR=$(MK_DIR)/../build_$(DEB_BUILD_ARCH)/libport
LIBPORT_PKG_DIR=$(MK_DIR)/tmp/libport
LIBPORT_INS_DIR=$(LIBPORT_PKG_DIR)

URBI_SRC_DIR=$(MK_DIR)/../urbi
URBI_BUILD_DIR=$(MK_DIR)/../build_$(DEB_BUILD_ARCH)/urbi
URBI_PKG_DIR=$(MK_DIR)/tmp/urbi
URBI_INS_DIR=$(URBI_PKG_DIR)

build: build-arch build-indep

build-indep:

build-arch: build-libport build-urbi

binary: binary-arch binary-indep

binary-indep:

binary-arch: bin-libport bin-libport-dev bin-urbi bin-urbi-dev

clean: clean-binary-libport clean-binary-libport-dev clean-binary-urbi clean-binary-urbi-dev
	rm -f build-arch binary-arch build-libport build-urbi prepare_binary
	rm -rf $(LIBPORT_BUILD_DIR) $(LIBPORT_PKD_DIR)
	rm -rf $(URBI_BUILD_DIR) $(URBI_PKD_DIR)

#
# Implementation
#
build-libport:
	mkdir -p $(LIBPORT_BUILD_DIR)
	cd $(LIBPORT_BUILD_DIR) && cmake $(LIBPORT_SRC_DIR)\
	   -DCMAKE_INSTALL_PREFIX=$(LIBPORT_INS_DIR)\
	   -DCMAKE_CXX_FLAGS="-Wno-unused-local-typedefs -DBOOST_SIGNALS_NO_DEPRECATION_WARNING"
	$(MAKE) -C $(LIBPORT_BUILD_DIR) install
	touch $@

build-urbi: build-libport
	mkdir -p $(URBI_BUILD_DIR)
	cd $(URBI_BUILD_DIR) && cmake $(URBI_SRC_DIR)\
	   -DCMAKE_INSTALL_PREFIX=$(URBI_INS_DIR)\
	   -DCMAKE_CXX_FLAGS="-Wno-unused-local-typedefs -DBOOST_SIGNALS_NO_DEPRECATION_WARNING"\
	   -DCMAKE_PREFIX_PATH=$(LIBPORT_INS_DIR)\
	   -DI_AM_A_ROBOT=1
	$(MAKE) -C $(URBI_BUILD_DIR) install
	touch $@

prepare_binary:
	dh_install --sourcedir=$(MK_DIR)/tmp
	find $(MK_DIR) -type f -executable -o -name "*.so" | xargs dpkg-shlibdeps 2>/dev/null
	touch $@

bin-%: prepare_binary
	mkdir -p $(MK_DIR)/$*/DEBIAN
	rm -rf $(MK_DIR)/files
	dpkg-gencontrol -p$* -P$(MK_DIR)/$*
	dpkg-deb -b $(MK_DIR)/$* ..

clean-binary-%:
	rm -rf $(MK_DIR)/$*
